## Importing the libraries & Loading the dataset

In [1]:
# import Libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the datasets
df_content = pd.read_csv('/Users/anantayafaraj/Documents/Accenture Project/Datasets/Content.csv')
df_reactions = pd.read_csv('/Users/anantayafaraj/Documents/Accenture Project/Datasets/Reactions.csv')
df_reactiontypes = pd.read_csv('/Users/anantayafaraj/Documents/Accenture Project/Datasets/ReactionTypes.csv')

## Data Cleaning

### Content Dataset

In [3]:
df_content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

In [4]:
df_content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Content ID  1000 non-null   object
 2   User ID     1000 non-null   object
 3   Type        1000 non-null   object
 4   Category    1000 non-null   object
 5   URL         801 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [5]:
# Remove unnecessary columns [unnamed: 0, User ID, URL]
df_content = df_content.drop(columns=['Unnamed: 0', 'User ID', 'URL'])

In [6]:
# Remove the rows with missing values
df_content = df_content.dropna()

In [7]:
df_content.head()

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f  photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6  photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180  video            food

In [8]:
# Check unique values in 'Category'
print("Unique Categories (before cleaning):")
print(df_content['Category'].unique())

Unique Categories (before cleaning):
['Studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'studying' 'veganism' 'Animals' 'animals' 'culture' '"culture"' 'Fitness'
 '"studying"' 'Veganism' '"animals"' 'Travel' '"soccer"' 'Education'
 '"dogs"' 'Technology' 'Soccer' '"tennis"' 'Culture' '"food"' 'Food'
 '"technology"' 'Healthy Eating' '"cooking"' 'Science' '"public speaking"'
 '"veganism"' 'Public Speaking' '"science"']

In [9]:
# Standardize categories to lowercase
df_content['Category'] = df_content['Category'].str.lower()

# Remove any surrounding double quotes
df_content['Category'] = df_content['Category'].str.replace('"', '', regex=False)

# Remove leading and trailing spaces
df_content['Category'] = df_content['Category'].str.strip()

# Check unique values after cleaning
print("Unique Categories (after cleaning):")
print(df_content['Category'].unique())

Unique Categories (after cleaning):
['studying' 'healthy eating' 'technology' 'food' 'cooking' 'dogs' 'soccer'
 'public speaking' 'science' 'tennis' 'travel' 'fitness' 'education'
 'veganism' 'animals' 'culture']

In [10]:
# Change 'dogs' to 'animals'
df_content['Category'] = df_content['Category'].replace({'dogs': 'animals'})

# Check unique values after cleaning
print("Unique Categories (after changes):")
print(df_content['Category'].unique())

Unique Categories (after changes):
['studying' 'healthy eating' 'technology' 'food' 'cooking' 'animals'
 'soccer' 'public speaking' 'science' 'tennis' 'travel' 'fitness'
 'education' 'veganism' 'culture']

In [16]:
# change the name of column Type to Content Type
df_content.rename(columns={'Type': 'Content Type'}, inplace=True)

In [17]:
df_content.head()

                             Content ID Content Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  healthy eating
2  230c4e4d-70c3-461d-b42c-ec09396efb3f        photo  healthy eating
3  356fff80-da4d-4785-9f43-bc1261031dc6        photo      technology
4  01ab84dd-6364-4236-abbb-3f237db77180        video            food

### Reaction dataset

In [12]:
df_reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [13]:
# drop the Unnamed: 0 column & the User ID column
df_reactions = df_reactions.drop(columns=['Unnamed: 0', 'User ID'])

In [14]:
# remove missing values
df_reactions = df_reactions.dropna()

In [15]:
df_reactions.head()

                             Content ID        Type             Datetime
1  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2020-11-07 09:43:50
2  97522e57-d9ab-4bd6-97bf-c24d952602d2     dislike  2021-06-17 12:22:51
3  97522e57-d9ab-4bd6-97bf-c24d952602d2      scared  2021-04-18 05:13:58
4  97522e57-d9ab-4bd6-97bf-c24d952602d2     disgust  2021-01-06 19:13:01
5  97522e57-d9ab-4bd6-97bf-c24d952602d2  interested  2020-08-23 12:25:58

### ReactionType dataset

In [18]:
df_reactiontypes.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [19]:
df_reactiontypes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  16 non-null     int64
 1   Type        16 non-null     object
 2   Sentiment   16 non-null     object
 3   Score       16 non-null     int64
dtypes: int64(2), object(2)
memory usage: 644.0+ bytes

In [20]:
# No missing values in the ReactionType dataset, So I will just Drop the unnecessary column 'Unnamed: 0'
df_reactiontypes = df_reactiontypes.drop(columns=['Unnamed: 0'])

In [21]:
df_reactiontypes.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

## Data Modeling

#### Merge the datasets

In [22]:
# Merge the datasets
# I'll make the reaction table as my base table and merge the other tables to it

# Merge the Content table
df_merged = df_reactions.merge(df_content, on='Content ID', how='left')

# Merge the ReactionTypes table
df_final = df_merged.merge(df_reactiontypes, on='Type', how='left')

In [23]:
df_final.head()

,Content ID,Type,Datetime,Content Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,photo,studying,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,dislike,2021-06-17 12:22:51,photo,studying,negative,10
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,scared,2021-04-18 05:13:58,photo,studying,negative,15
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,photo,studying,negative,0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,interested,2020-08-23 12:25:58,photo,studying,positive,30

In [24]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24573 entries, 0 to 24572
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Content ID    24573 non-null  object
 1   Type          24573 non-null  object
 2   Datetime      24573 non-null  object
 3   Content Type  24573 non-null  object
 4   Category      24573 non-null  object
 5   Sentiment     24573 non-null  object
 6   Score         24573 non-null  int64
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

In [25]:
# Group by category and calculate the sum of scores
category_reactions = df_final.groupby('Category')['Score'].sum().reset_index()

In [26]:
# Sort categories by total scores in descending order
category_scores = category_reactions.sort_values(by='Score', ascending=False)

In [27]:
# Extract the top 5 categories
top_categories = category_scores.head(5)

In [ ]:
top_categories.head()

          Category   Score
0          animals  127476
8          science   71168
6   healthy eating   69339
11      technology   68738
5             food   66676

## Save the results

In [29]:
# Save the cleaned merged dataset
df_final.to_csv('Cleaned_Merged_Dataset.csv', index=False)

# Save the top 5 categories as a separate file
top_categories.to_csv('Top_Categories.csv', index=False)

# Alternatively, save both to a single Excel file
with pd.ExcelWriter('Final_Output.xlsx') as writer:
    df_final.to_excel(writer, sheet_name='Cleaned_Data', index=False)
    top_categories.to_excel(writer, sheet_name='Top_Categories', index=False)